html, body, *{
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
    overflow-x: hidden;
}

.s1{
    /*https://www.youtube.com/watch?v=fBRzD6dwJfw*/
    height: 100vh;
    width: 100%;
    position: relative;
    background: linear-gradient(-45deg, #5A0000 , #940000, #440202,#440202, #940000,#5A0000);
    background-size: 400%, 400%;
    animation: change 5s infinite ease;
    z-index: -2;
}
.s2{
    height: 100vh;
    width: 100%;
    position: relative;
 /*   background: linear-gradient(-90deg, #141414,#202020, #141414,#141414,#202020,#141414);*/
    background: linear-gradient(-90deg, #691c00,#a02b00, #c23400,#c23400,#a02b00,#691c00);
    z-index: -2;
}
.s3{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #940000 ;
    z-index: -2;

}
.food{
    font-size: 150px;
    color: white;
    text-align: center;
    align-items: center;
    top: 15%;
    left: 50%;
    transform: translate(-90%,-50%);
    position: absolute;
    opacity: 0;
   /* background: linear-gradient(to left, #c9c9c9,#faecec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.price{
    font-size: 60px;
    color: white;
    text-align: center;
    align-items: center;
    top: 29%;
    left: 77%;
    padding: 20px;
    transform: translate(1em,120%);
    transform: rotate(30deg);
    position: absolute;
    background-color: #dd9700;
    border-radius: 50% ;
    opacity: 0;
}
.theFoodIs{
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 15%;
    width: 600px;
    font-size: 50px;
    font-style: italic;
    opacity: 0;
}

.menu{
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    align-items: center;
    top: 10%;
    left: 80%;
    transform: translate(-50%,-50%);
    position: absolute;
   /* background: linear-gradient(to left, #c9c9c9,#faecec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}
span{/*menu text animation*/
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(-50px);
    display: inline-block;
}
span.fade{
    opacity: 1;
    transform: translateY(0px);
}

.images{
    height: 50%;
    width: 40%;
    position: absolute;
    top: 40vh;
    /*left: 50%;*/
    left: 110%;
}
.menuTable{
    background: transparent;
    border-collapse: collapse;
    position: absolute;
    width: 500px;
    left: 80%;
    top: 25%;
    transform: translate(-50%);
    color: white;
    align-items: center;
    font-size: 45px;
}
.float-left{
    opacity: 0;
    text-align: left;
    width: 65%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-right: solid 2px white;
    transition: all 1s ease;
    transform: translateX(200px);
}
.float-right{
    opacity: 0;
    text-align: right;
    width: 35%;
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-left: solid 2px white;
    transition: all 1s ease;
    transform: translateX(-200px);
}
.float-right.slide,.float-left.slide{
    opacity: 1;
    transform: translateX(0px);
}
.menuImage{
    position: absolute;
    right: 0px;
    width: 40%;
    height: 100%;
            /* sides, updown, blur color*/
    box-shadow: -10px 1px 10px #000000d3;
    z-index: 0;
}
.foodCarousel{
    height: 100%;
    width: auto;
    max-width: 1440px;
}
.carousel-container{
    z-index: -1;
    height: 100%;
    position: absolute;
    left: 0px;
}
.carouselSlide{
    display: flex;
    height: 100%;
}


.tableImage{
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}
.advice{
    padding: 0px;
    width: 100%;
    position: absolute;
    height: 10%;
    margin-top: 50px;
    text-align: center;
    font-size: 80px;
    color: #ffffff;
}
.container{
    margin: 0px 4%;
    position: absolute;
    bottom: 10%;
    height: 75%;
    width: 100%;
}
.column{
    align-items: center;
    float: left;
    font-size: 50px;
    width:30%;
    height: 100%;
    margin-right: 20px;
    border-right: 2px solid #ffdfdf;
    border-left : 2px solid #ffdfdf; 
    border-radius: 10%;
    opacity: 0;
}
.col-im{
    margin-top: 50px;
    padding: 0px 20px;
    width:90%;
    height: 35%; 
}
.col-text{
    position: relative;
    top: 50px;
    font-size: 40px;
    color: #ffffff;
    left: 5%;
    width: 90%;
}
.col-price{
    position: relative;
    left: 23%;
    width: 50%;
    top: 190px;
    text-align: center;
    color: #ffffff;
    border-top: 2px solid #ffde97;
    border-bottom: 2px solid #ffde97;
    border-radius: 15%;
}
.col-h1{
    position: relative;
    top: 20px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
.passTheNext{
    height: 0px;
    width: 0px;
    background-color: #000000;
    animation: getBig 1s;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1;
}

@keyframes change{
    /*https://www.youtube.com/watch?v=fBRzD6dwJfw*/
    0%{
        background-position: 100% 50%;
    }
    50%{
        background-position: 0 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

@keyframes getBig{
    0%{
        top: 50%;
        left: 50%;
        height: 1px;
        width: 1px;
    }
    50%{
        top: -10px;
        left: -15px;
        height: 102vh;
        width: 102%;
        opacity: 1;
    }
    100%{
        top: 50%;
        left: 50%;
        height: 0px;
        width: 0px;
        opacity: 0;
    }
}